body {
    margin: 60px auto;
    width: 70%;
    background-color: #d8ff8b;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    background-color: #aac247;
	color: #dde80b;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
	color: #f9f8f8;
}
#eyyboss {
    margin: auto;
    background-color: none;
    font-family: 'Helvetica';
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	color: #329e07;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    float: bottom;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
table {
    float:left;
}
img {
    height: 350px;
    width: 350px;
}
video {
    float: right;
    -moz-transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
a.bbutton {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
img.bluebottle {
    border: 2px dashed green;
    border-radius: 100%;
    height: 700px;
	width: 700px;
    margin:auto;
}
